.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.table-client {
    width: 80%;
    background-color: white;
    color: black;
}

.button-сreate-client {
    width: 80%;
}

.text {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
